@use "functions" as *;
@use "variables" as *;

html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--primary-dark);
  background-color: rgb(204, 204, 204);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h3 {
  font-size: rem(20);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}
