@use "functions" as *;
@use "variables" as *;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(40) rem(20);
  margin-bottom: rem(50);
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: var(--font-title);

  h1 {
    margin: auto rem(10) auto 0;
    font-size: rem(40);
  }
}
