@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  // FONTS
  --font-title: "Poppins", sans-serif;
  --font-body: "Nunito", sans-serif;
  //COLOURS
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --bg-hover: #ccc;
}
