@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Yusei+Magic&display=swap");

// FONTS
:root {
  --font-title: "Yusei Magic", sans-serif;
  --font-body: "Roboto", sans-serif;
}

//COLOURS
:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  --bg-hover: #ccc;
}
